.App {
  padding: 10px;
}

.App ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #0e0d0d;
  border-radius: 5px 5px 0px 0px;
}
.App ul li {
  float: left;
}
.App ul li a {
  width: 100px;
  display: block;
  font-size: 18px;
  line-height: 60px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.App .selected {
  background: #fff;
  color: #0e0d0d;
}

.App .content>div div {
  background: #fff;
  margin-top: 10px;
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
}
.App .content h2 {
  letter-spacing: 0.1em;
}
.App .content p {
  font-size: 20px;
  letter-spacing: 0.3em;
}
/* 出现前 */
.example-enter {
  /* opacity: 0.01;
  transform: scale(.5); */
  /* position: absolute; */
  left: 100%;
}
/* 出现过程 */
.example-enter.example-enter-active {
  /* opacity: 1;
  transform: scale(1);
  transition: all 5000ms ease-in; */
  /* position: absolute; */
  left: 0;
  transition: left 300ms ease-in;
}
/* 隐藏前 */
.example-exit {
  /* opacity: 1;
  transform: scale(1); */
  /* position: absolute; */
  left: 0;
}
/* 隐藏过程 */
.example-exit.example-exit-active {
  /* opacity: 0.01;
  transform: scale(.5); */
  /* position: absolute; */
  /* transition: all 3000ms ease-in; */
  left: -100%;
  transition: left 300ms ease-in;
}
